HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Ignore Gradle binary files
.gradle/

# Ignore build output
build/

# Ignore temporary files
*.lock

# Ignore compiled Java classes
*.class

# Ignore compiled Java resources
*.bin

# Ignore compilation data
build/tmp/

# Ignore generated mapper files
build/resources/main/mapper/

# Ignore execution history
.gradle/*/executionHistory/

# Ignore file hashes
.gradle/*/fileHashes/

# Ignore checksums
.gradle/*/checksums/

# Ignore build output cleanup
.gradle/buildOutputCleanup/

# Ignore file system probe
.gradle/file-system.probe

### macOS ###
.DS_Store
