server:
  tomcat:
    additional-tld-skip-patterns: "*.jar"
  port: 8000
  error:
    path: /error
  servlet:
    context-path: /
    encoding:
      charset: UTF-8
      enabled: true
      force: true
spring:
  output:
    ansi:
      enabled: always
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp
  datasource:
    hikari:
      jdbc-url: jdbc:oracle:thin:@
      username: admin
      password: Rneldkzkepal73
      driver-class-name: oracle.jdbc.OracleDriver
      connection-timeout: 20000
      validation-timeout: 3000
      minimum-idle: 5
      maximum-pool-size: 12
      idle-timeout: 300000
      max-lifetime: 1200000
      auto-commit: true
      pool-name: oraPool
  servlet:
    multipart:
      max-file-size: 10MB
      enabled: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: aaaaa
            client-secret: aaaaa
            scope:
              - email
              - profile
          kakao:
            client-id: aaaaaa
            client-secret: aaaaaa
            scope:
              - account_email
              - profile_nickname
            authorization-grant-type: authorization_code
            redirect-uri: http://localhost:8000/login/oauth2/code/kakao
            client-name: Kakao
            client-authentication-method: client_secret_post
          naver:
            client-id: aaaaaaa
            client-secret: aaaaaa
            scope:
              - name
              - email
            client-name: Naver
            authorization-grant-type: authorization_code
            redirect-uri: http://localhost:8000/login/oauth2/code/naver
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response
    spring:
      mail:
        host: smtp.naver.com
        port: 465
        username: 아이디@naver.com
        password: 비밀번호
        properties:
          mail.smtp.auth: true
          mail.smtp.ssl.enable: true
