/* 모달 스타일 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 30%; /* 모달이 화면 왼쪽에서 시작되도록 설정 */
    top: 15%; /* 모달이 화면 상단에서 시작되도록 설정 */
    width: 40%; /* 모달의 너비를 화면 너비의 50%로 설정 */
    height: 70%; /* 모달의 높이를 화면 높이의 50%로 설정 */
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 0 0 0 0;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    height: 100%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
